<div>
  <p> Your choice is</p>
  <%= @player_choice %>
  <p> API\'s choice is</p>
  <%= @api_choice %>
  <p> The winner is </p>
  <%= @winner %>
  </br>
  <a href="<%= root_path %>">Run again</a>
</div>
