<div>
  <p> Choose curbrock OR paper OR scissors</p>
  <a href="<%= choice_path(:curbrock) %>">Curbrock</a>
  <a href="<%= choice_path(:paper) %>">Paper</a>
  <a href="<%= choice_path(:scissors) %>">Scissors</a>
</div>
