<div>
  <p> Choose rock OR paper OR scissors</p>
  <a href="<%= choice_path(:rock) %>">Rock</a>
  <a href="<%= choice_path(:paper) %>">Paper</a>
  <a href="<%= choice_path(:scissors) %>">Scissors</a>
</div>
